.title {
    margin: 25px;
    text-align: center;
}

.btns {
    margin: 10px;
    width: 120px;
}


.cards {
    margin-top: 20px ;
}

.createLabel {
    margin: 10px;
    display: block;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

Button {
    margin: 5px;
}

.badgesList {
    margin: 5px;
}

.badges {
    margin: 5px;
}

.checksList {
    padding: 10px;
}

ul {
    list-style-type: none;
}

.checks {
    width: 5%;
    margin-right: 5px;
}

input.checkRemove {
    accent-color: red;
}

input.checkAdd {
    accent-color: green;
}

.itemList:hover {
    background-color: lightblue;
    cursor: pointer;
}

.fineprint {
    font-size: 10px;
}